#news {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: lightblue;
  padding: 100px 15vw 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  
  h2 {
    width: 100%;
    font: 400 5rem/1 "orbitron";
    color: #fff;
    text-align: center;
    margin-bottom: 100px;

    opacity: 0;
    transform: translateX(-200px);
    transition: 0.5s 0s;
  }

  article {
    width: 20%;
    height: 250px;
    background-color: #fff;

    opacity: 0;
    transform: scale(2);
    transition-duration: 0.5s;

    &:nth-of-type(1){
      transition-delay: 0.2s;
    }
    &:nth-of-type(2){
      transition-delay: 0.3s;
    }
    &:nth-of-type(3){
      transition-delay: 0.4s;
    }
    &:nth-of-type(4){
      transition-delay: 0.5s;
    }
  }
}

// 활성화 스타일 (activated style)
#news.on {
  h2 {
    opacity: 1;
    transform: translateX(0px);
  }

  article {
    opacity: 1;
    transform: scale(1);
  }
}