#news {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: lightblue;
  padding: 100px 15vw 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  

  h2 {
    width: 100%;
    font: 400 5rem/1 "orbitron";
    color: #fff;
    text-align: center;
    margin-bottom: 100px;

  }
  article {
    width: 22%;
    height: 300px;
    background-color: #fff;

  }
}