header {
  width: 100%;
  padding: 20px 15vw 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h1 {
    font: 600 1.6rem/1 "orbitron";
    letter-spacing: 1px;
    color: #222;
    display: flex;
    align-items: flex-end;

  }
  nav {
    display: flex;
    flex-wrap: wrap;

    #gnb {
      width: 100%;
      display: flex;
      gap: 60px;
      justify-content: flex-end;
      order: 2;
      font: 500 0.8rem/1 "orbitron";
      letter-spacing: 1px;
      color: #333;
      
    }
    .sns {
      width: 100%;
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      order: 1;
      margin-bottom: 20px;
      font-size: 0.8rem;
      opacity: 0.5;
    }

  }

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 1rem;
    display: none;

  }
}

.mobilePanel {
  width: 260px;
  height: 100vh;
  position: fixed;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  z-index: 5;
  transition: 0.5s;
  top: 0px;
  left: -260px;

  &.on {
    left: 0px;
    
  }
}

@media screen and (max-width:$tablet) {
  header {
    padding: 16px 10vw;

    h1 {
      font-size: 1.4rem;
    }
    nav {
      display: none;
    }
    button {
      display: block;
    }
  }  
}

@media screen and (max-width:$mobile) {
  header {
    h1 {
      font-size: 1.2rem;
    }
  }
}