main {
  padding: 10vh 15vw;
  h2 {
    font: 100 7vmax/1 "raleway";
    color: #333;
    margin-bottom: 50px;
    
  }
  
  p {
    font: 1.1rem/1.3 "arial";
    color: #999;
    margin-bottom: 20px;
    
  }
  
  .breadcrumb {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font: 400 0.8rem/1 "raleway";
    
    li:last-child {
      font-weight: 700;

    }
  }

  .con {
    width: 100%;
    min-height: 70vh;
    position: relative;
    margin-top: 80px;

  }
}

//메인 페이지 전용 main style
.home > main {
  padding: 0px;

}
@media screen and (max-width: $tablet) {
  main {
    padding: 8vh 10vw;

    h2 {
      font-size: 13vw;

    }
  }
}

@media screen and (max-width: $mobile) {
  main {
    .breadcrumb {
      justify-content: flex-start;
      margin-top: 40px;
    }
  }
}